{% if pagination is not empty and pagination.getTotalItemCount > pagination.getPaginationData.numItemsPerPage %}
    {% set route = app.request.attributes.get('_route') %}
    {% set route_params = app.request.attributes.get('_route_params')|merge(app.request.query.all) %}

    <nav aria-label="Page navigation example" class="flex justify-content-center">
        <ul class="pagination">
            <li class="pagination-previous {% if pagination.getPaginationData.current <= 1 %}is-disabled{% endif %}">
                <a class="" href="{{ path(route, route_params|merge({'page': (pagination.getPaginationData.current-1)})) }}" tabindex="-1" {% if pagination.getPaginationData.current <= 1 %}aria-disabled="true" {% endif %}><i class="fa-solid fa-chevron-left"></i></a>
            </li>
            {% if pagination.getPaginationData.pagesInRange|first != 1 %}
                <li class="pagination-number">
                    <span>...</span>
                </li>
            {% endif %}
            {% for page in pagination.getPaginationData.pagesInRange %}
                <li class="pagination-number" {{ page == pagination.getPaginationData.current ? 'aria-current="page"' }}>
                    <a class="{{ page == pagination.getPaginationData.current ? 'is-active' }}" href="{{ path(route, route_params|merge({'page': page})) }}">{{ page }}</a>
                </li>
            {% endfor %}
            {% if pagination.getPaginationData.pagesInRange|last != pagination.getPaginationData.pageCount %}
                <li class="pagination-number">
                    <span>...</span>
                </li>
            {% endif %}
            <li class="pagination-next {% if pagination.getPaginationData.current == pagination.getPaginationData.endPage %}is-disabled{% endif %}">
                <a class="" href="{{ path(route, route_params|merge({'page': (pagination.getPaginationData.current+1)})) }}" {% if pagination.getPaginationData.current == pagination.getPaginationData.endPage %}aria-disabled="true" {% endif %}><i class="fa-solid fa-chevron-right"></i></a>
            </li>
        </ul>
    </nav>
{% endif %}