<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('global') }}
        <link href="../assets/styles/output.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block body%}
    <main class="container">
        {% include 'menu.html.twig' %}
        <h1>Coucou films de la catégorie {{ category.name }}</h1>
        <div class="row">
            {% for movie in pagination %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ asset('uploads/movie/'~ movie.poster) }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a class="text-danger" href="{{ path('movie_delete', {'id': movie.id}) }}"><i class="fa-solid fa-trash"></i></a>
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <p class="card-text">{{ movie.description }}</p>
                            <p>{{ movie.category.name }}</p>
                            <p>{{ movie.createdAt|date("d/m/Y") }}</p>
                            <a href="{{ path('movie_show', {'id': movie.id}) }}" class="btn btn-primary">Voir plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include '_pagination.html.twig' with {pagination: pagination} only %}
    </main>
{% endblock %}
</body>
</html>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://kit.fontawesome.com/de1d1a05bf.js" crossorigin="anonymous"></script>
{% endblock %}
